.bg{background-color:#EAF6F6;height:700; width:1902px; margin-top:0 ;}
.bg1{background-color:#EAF6F6;height:0; width:1902px; margin-bottom: 0%;position:absolute}
body{margin-top: 0%;      margin-bottom: 0%; margin-left: 0%;}

.pos{height:837.531px; width:500px; position:absolute;top:340px;left:650px; margin: 5;}
.name{font-size: 75px ;position:absolute;top:250px;left:700px; font-family: 'Sacramento', cursive; color:#66BFBF;}
.line{font-size:25px;position:absolute;top:335px;left:980px; font-family: 'Sacramento', cursive; color:#66BFBF;}
.cloud-1{position:absolute;top:350px;left:550px;}
.cloud-2{position:absolute;top:150px;left:1200px;}
.middle-container{ position: relative;top:50;text-align: center;}
.img1{height: 200; width: 200;margin:auto;}
.img2{position:relative;height: 200; width: 200;margin:auto;}
.img3{position:relative; height: 200; width: 200;}
.button{border:0; background-color:#66BFBF;height:30;width:150;margin:auto;border-radius: 12px;position:relative;bottom: 10;color:rgb(255, 255, 255) ;font-family:'Times New Roman', Times, serif;}
.bottom-container{background-color:#66BFBF;padding: 50px 0 20px; }
h2{font-size:30px;font-weight: 700; font-family: 'Edu NSW ACT Foundation', cursive;color:#66BFBF;}
h3{font-size:20px;font-weight: 400; font-family: 'Edu NSW ACT Foundation', cursive;color:#66BFBF;}
p{font-size:20px;font-weight: 400; font-family: 'Edu NSW ACT Foundation', cursive;}
.table1{margin:auto;}
.dot{
    height: 7px;
    width: 7px;
    background-color: #EAF6F6;
    border-radius: 50%;
    display: inline-block;
    position:relative;
    margin:auto;
  }

.table2{margin:auto;}



